@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Playwrite+DE+SAS:wght@100..400&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Playwrite+DE+SAS:wght@100..400&family=Shadows+Into+Light&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



/*Loader Start*/
.loader {
    position: absolute;
    top: 300px;
    left: 32%;
    width: 750px;
    height: 350px;
    background-color: #d3d3d3;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader h1 {
    font-size: 65px;
    color: #838181;
    animation: loaderAn 2s infinite;
}

@keyframes loaderAn {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


/*Loader End*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

:root {
    -bgColor-: #000;
    -txtColor-: #fff;
    -descColor-: #d6d6d6;
}

/* HEADER */
.sec-1 {
    width: 100%;
    height: 20vh;
    background-color: #000;
}

.sec-1 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .container .logo-circle h1 {
    font-family: "Playwrite DE SAS", cursive;
    font-weight: 600;
    font-size: 36px;
    color: #fff;
    text-shadow: 1px 1px 1px lightblue;
}

.header .container .logo-circle h1 span {
    font-size: 23px;
    color: aqua;
    border-bottom: 1px solid aqua;
}

.header .container .list-circle nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container .list-circle nav li {
    margin: 25px;
    list-style-type: none;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.header .container .list-circle nav li:hover {
    border-top: 1px solid aquamarine;
    transition: all 0.6s;
    border-bottom: 1px solid aquamarine;
}

.header .container .list-circle nav li.active {
    border-top: 1px solid aqua;
    border-bottom: 1px solid aqua;
}

.header .container .list-circle nav a {
    text-decoration: none;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 17px;
}

/*HOME SECTİON*/

.sec-2 .container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    /* background-color: #000; */
}

.sec-2 .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sec-2 .container img {
    width: 75rem;
    height: 65rem;
    border-radius: 100pc;
    position: absolute;
    top: 15px;
    right: -30rem;
    transform: rotate(45deg);
    opacity: 0;
    transition: all 1s;
}

.sec-2 .container h1 {
    font-family: "Playwrite DE SAS", cursive;
    font-weight: 700;
    font-size: 3rem;
    margin: 6px;
}

.sec-2 .container p {
    margin: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 15px;
    /* white-space: pre-line; */
    /* word-spacing: 54px; */
    /* text-overflow: ellipsis; */
    /* outline-style: dotted; */
    /* outline-width: 250px; */
    /* line-height: 100px; */
}

.sec-2 .container h1 span {
    color: aqua;
}

.sec-2 .container button {
    padding: 15px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: aqua;

}

.sec-2 .container button a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}

.sec-2 .container img.Active {
    transform: rotate(0);
    opacity: 1;
}

/* CONTEXT SECTİON */

.sec-3 .container {
    width: 100%;
    height: 170pc;
}

.sec-3 .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sec-3 .container .cards {
    padding: 5pc;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.sec-3 .container .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    /* background-color: black; */
    margin: 25px;
    position: relative;
    box-shadow: 1px 1px 1px 1px #000;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.6s;
}

.sec-3 .container .cards .card:hover {
    transform: scale(1.1);
    box-shadow: none;
    color: aqua;
}

.sec-3 .container .cards .card h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000;
}

.sec-3 .container .title-head h1 {
    font-family: "Playwrite DE SAS", cursive;
    font-weight: 600;
    font-size: 36px;
    color: black;
    text-shadow: 2px 2px 2px rgb(2, 2, 2);
}

.sec-3 .container .title-head h1 span {
    font-size: 23px;
    color: aqua;
    border-bottom: 1px solid #000;
}

.sec-3 .container .cards .card p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 150px;
    left: 15px;
    color: #000;
}


/* About Me*/

.sec-4 .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.about-wrapper .container h1 {
    font-family: "Playwrite DE SAS", cursive;
    font-size: 55px;
    font-weight: 600;
}

.about-wrapper .container h1 span {
    color: aqua;
    display: inline-flex;
    border-bottom: 1px solid aqua;
}

.about-wrapper .container .row-title-head {
    position: absolute;
    left: 15rem;
}

.about-wrapper .container .row-title-head .card-desc p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 15px;
}

.about-wrapper .container .row-title-head .card-media-box h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 15px;
}

.about-wrapper .container .row-title-head .card-media-box a {
    text-decoration: none;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 10px;
}

.about-wrapper .container .row {
    background-color: aqua;
    width: 50%;
    height: 92vh;
    border-radius: 100px;
    position: absolute;
    right: -155px;
}

/*Contact*/
.sec-5 {
    position: relative;
}

.contact-wrapper .row-contact {
    position: absolute;
    top: 0;
    left: 25px;
    overflow-y: hidden;
}

.sec-5 .container {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-wrapper .container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-wrapper .container input {
    width: 35rem;
    height: 2rem;
    border: none;
    border-bottom: 1px solid black;
    margin: 15px;
}

.contact-wrapper .container label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.contact-wrapper .container button {
    padding: 15px 25px;
    border-radius: 15px;
    background-color: aqua;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border: none;
    position: absolute;
    left: 55rem;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container .list-wrapper nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container .list-wrapper nav ul li {
    margin: 15px;
    list-style-type: none;
}

footer .container .list-wrapper nav ul li a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

footer .container .list-wrapper nav ul li a:hover {
    border-bottom: 1px solid #000;
}

footer .container .icon-wrapper .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container .icon-wrapper .icons .icon {
    margin: 15px;
}

footer .container .icon-wrapper .icons .icon i {
    font-size: 21px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
}